.slick-arrow {
  width: 48px;
  height: 48px;
  align-items: center;
  background-color: rgb(151, 83, 215);
  gap: 8px;
  flex-shrink: 0;
}

.cxoCard-slider .slick-list .slick-track {
  display: flex !important;
  gap: 80px !important;
  padding: 2rem 0px;
  align-items: center;
}
.cxoCard-slider .slick-prev {
  width: 35px;
  height: 35px;
  z-index: 1000;
  color: #eea81e !important;
  background-color: #302e29 !important;
  left: -4%;
}
.cxoCard-slider .slick-next {
  width: 35px;
  height: 35px;
  z-index: 1000;
  color: #eea81e !important;
  background-color: #302e29 !important;
  right: -4%;
}

@media (max-width: 1400px) {
  .cxoCard-slider .slick-list .slick-track {
    gap: 67px !important;
  }
}
@media (max-width: 768px) {
  .slick-dots {
    padding: 3.5rem 0 !important;
  }
  .cxoCard-slider .slick-list .slick-track {
    margin-bottom: 2rem;
    padding: 4rem 0px;
  }
  .cxoCard-slider .slick-track {
    width: 2310px !important;
  }
  .cxoCard-slider.slick-prev {
    color: #eea81e !important;
    background-color: #302e29 !important;
    left: 0;
  }
  .cxoCard-slider .slick-next {
    color: #eea81e !important;
    background-color: #302e29 !important;
    right: 0;
  }
}
