.slick-arrow {
  width: 37px !important; /* Set the width */
  height: 50px !important; /* Set the height */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px; /* Set the font size */
  color: white; /* Set the text color */
  border-radius: 10px; /* Add some border-radius for rounded corners */
}
.slick-arrow::before {
  font-size: 38px !important;
  color: black !important;
}
.slick-slider .slick-list .slick-track {
  display: flex !important;
  gap: 125px !important;
  padding-top: 2rem;
  align-items: center;
}
