.bold-text {
  font-weight: 900;
}
.section1 {
  padding: 2rem 6rem 8rem 6rem;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  background-color: #302e29;
}
.section1 .section1-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section1 .image-wrapper {
  margin-bottom: 20px;
}
.section1 .image-avatar {
  position: relative;
  top: 0%;
  right: 13%;
}
.section1 .sub-text {
  padding-right: 5rem;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 100;
  line-height: 132.1%;
  letter-spacing: 0em;
  text-align: left;
}
.section1 .heading {
  font-family: Montserrat;
  font-style: normal;
  font-size: 64px;
  font-weight: 500;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: left;
}

.section1 .special-text {
  color: #eea91f;
  font-size: 64px;
  font-weight: bolder;
  line-height: 84.54px;
}

.section1 .section1-buttons {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}

.section1 .image-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.section2 {
  background-color: #fffaf0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section2 .heading {
  font-family: Montserrat;
  font-size: 48px;
  line-height: 63px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
  padding: 5rem;
}
.section3 .sub-heading {
  max-width: 85%;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0em;
  margin-left: 2rem;
  text-align: left;
}
.section3 .caption {
  color: rgba(48, 46, 41, 0.7);

  max-width: 70%;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: lighter;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 2rem;
  margin-top: 1rem;
}
.section3 .section-3-top {
  display: flex;
  justify-content: center;
}
.section2 .heading-special {
  font-weight: bold;
  clip-path: polygon(5% 0, 100% 0%, 94% 100%, 0% 100%);
  background-color: #eea91f;
  padding: 0.75rem 1.5rem;
}
.subCard-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 3rem 0;
}
.subCard-button {
  font-weight: 600;
  cursor: pointer;
  font-size: 1.2rem;
  border: 0;
  color: #eea91f;
  padding: 11.734px 32.141px;
  align-items: flex-start;
  gap: 5.102px;
  border-radius: 12.754px;
  background: #000000;
  box-shadow: 2.04071px 19.38671px 31.63094px 0px rgba(0, 0, 0, 0.1),
    -1.53053px -2.04071px 3.57124px 0px rgba(255, 255, 255, 0.15) inset;
}

.subCard-buttonOutlined {
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
  background: transparent;
  display: inline-flex;
  padding: 10.734px 32.141px;
  align-items: flex-start;
  gap: 5.102px;
  border-radius: 12.754px;
  border: 3px solid var(--Black, #302e29);
  box-shadow: 2.04071px 19.38671px 31.63094px 0px rgba(0, 0, 0, 0.1),
    -1.53053px -2.04071px 3.57124px 0px rgba(255, 255, 255, 0.15) inset;
}
/* .subCard-button:hover {
  background-color: #eea81e;
}
.subCard-button {
  margin-top: 1.5rem;
  background-color: #eea81e;
  border-radius: 15px;
  color: #ffffff;
  padding: 10px 20px;
}
.subCard-button:hover {
  background-color: #eea81e;
} */
.section3 {
  background-color: #fffaf0;
  display: flex;
  flex-direction: column;
  padding: 3rem 5rem;
}
.section4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fffaf0;
  padding-top: 3rem;
  padding-bottom: 6rem;
}
.section4 .section4-left .section4-left-heading {
  font-size: 2rem;
  margin-bottom: 2.5rem;
  font-weight: bold;
}
.section4 .section4-left .section4-left-subheading {
  margin-bottom: 2rem;
  color: var(--Black, #302e29);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 132.1%; /* 31.704px */
}
.section4 .section4-right img {
  margin-top: 1rem;
  width: 500px;
}
.section5 {
  background-color: #fffaf0;
}
.section5 .caption {
  font-size: 24px;
}
.section5 .cxo-card {
  display: flex;
  justify-content: space-evenly;
  gap: 12rem;
  padding: 2rem 0 5rem 0;
}
.section6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background: url("../assets/banner.svg");
  gap: 1rem;
  padding: 3rem 3rem;
}
.section6 .heading {
  color: var(--Black, #302e29);
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 132.1%; /* 66.05px */
}
.section6 .sub-text {
  color: #302e29;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 3rem;
  line-height: 132.1%; /* 31.704px */
}

.footer {
  background: linear-gradient(
    110deg,
    rgba(48, 46, 41, 0) -86.89%,
    #302e29 22.61%,
    #302e29 63.29%
  );

  padding: 2rem 5rem;
}

@media (max-width: 1000px) {
  /* Your mobile-specific styles go here */
  body {
    font-size: 16px; /* Example: Adjust font size for better readability on mobile */
  }
  .section1 {
    padding: 1rem;
    background-color: #302e29;
  }

  .section1 .section1-buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 25px;
  }
  .section1 .image-avatar {
    width: 150px;
    right: -25%;
  }
  .section1 .image-wrapper {
    justify-content: center;
    padding: 0;
  }
  .section1 img {
    width: 70%;
  }

  .section1 .section1-left {
    order: 1;
  }
  .section1 .sub-text {
    padding-right: 0px;
    margin-top: 25px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 100;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
  }
  .section1 .heading {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 500;
    line-height: 1px;
    letter-spacing: 0em;
    text-align: center;
  }
  .section1 .special-text {
    color: #eea91f;
    font-size: 32px;
    font-weight: 500;
    line-height: 80px;
  }

  .section2 .heading {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
    padding: 3rem;
  }
  .subCard-button {
    font-size: 0.9rem;
  }

  .subCard-button-wrapper {
    flex-direction: column;
  }
  .subCard-buttonOutlined {
    font-size: 1rem;
    padding: 10.734px 10.141px;
  }
  .section4 {
    padding-top: 0;
    padding-bottom: 1rem;
  }

  .section4 .section4-right img {
    margin-top: 1rem;
    width: 280px;
  }

  .section3 .sub-heading {
    text-align: center;
    max-width: 100%;
    font-size: 24px;
    line-height: 28px;
    margin-left: 0;
    margin-top: 1rem;
  }
  .section3-subButton {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section3 .caption {
    color: rgba(48, 46, 41, 0.7);
    max-width: 100%;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: lighter;
    line-height: 22px;
    text-align: center;
    margin: 1.5rem 1rem;
  }
  .section3 .section-3-top {
    flex-direction: column;
  }
  .section2 .heading-special {
    padding: 0.2rem 0.5rem;
  }
  .section3 {
    padding: 3px;
  }
  .section4 .section4-left .section4-left-heading {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  .section4 .section4-left .section4-left-subheading {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  .section4 .section4-left {
    display: flex;
    flex-direction: column;
  }
  .section5 {
    padding: 2rem 0.5rem 1px 0.5rem;
  }
  .section5 .caption {
    font-size: 16px;
  }
  .section5 .cxo-card {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    gap: 12rem;
    padding: 0 8rem 0 15rem;
    margin-top: 0;
  }
  .section6 {
    padding: 3rem 2rem;
    align-items: center;
  }
  .section6 .heading {
    font-size: 30px;
  }
  .section6 .sub-text {
    font-size: 24px;
    margin-bottom: 0px;
    text-align: center;
  }
  .section6 button {
    font-size: 12px;
  }
  .footer {
    background: rgba(48, 46, 41, 1);

    padding: 2rem 2rem;
  }

  /* Add more mobile-specific styles as needed */
}

/* 
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover 
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  } */
