.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #302e29;
  padding: 1rem;
}
.navbar-wrapper img {
  width: 200px;
}

@media (max-width: 768px) {
  .navbar-wrapper img {
    width: 150px;
  }
}
