.App-carousel {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 100%;
  margin: 0 auto;
}

.seperator {
  width: 100%;
}

.controls-wrapper {
  width: 100%;
}

.carousel-wrapper {
  width: 100%;
}

.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 0px rgb(252, 255, 94) !important;
}

.sc-gEvEer {
  padding: 2rem 0 !important;
}

.carousel-wrapper button {
  background-color: #eea81e;
}
.carousel-wrapper button:hover {
  background-color: #eea81e !important;
}
.carousel-wrapper button:active {
  background-color: #eea81e !important;
}

.sc-gEvEer .eyoHU .rec .rec-item-wrapper {
}
