.solidbutton {
  margin-top: 2.2rem;
  width: 285px;
  background: radial-gradient(
      63.11% 63.11% at 31.97% 19.67%,
      rgba(233, 190, 106, 0.7) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(0deg, #eea91f, #eea91f);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  box-shadow: 2.3716814517974854px 22.530973434448242px 36.76106262207031px 0px
    rgba(0, 0, 0, 0.5);
}

.outlinedButton {
  margin-top: 2.2rem;
  width: 285px;
  background: transparent;
  border: 4px solid rgba(238, 169, 31, 1);
  color: #ffffff;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}

.primaryButton {
  margin-top: 2rem !important;
  background-color: #eea81e !important;
  border-radius: 15px !important;
  color: #ffffff !important;
  padding: 10px 20px !important;
}
.primaryButton:hover {
  background-color: #eea81e !important;
}

@media (max-width: 768px) {
  .solidbutton {
    margin-top: 1.5rem;
  }
  .outlinedButton {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
  }
  .primaryButton {
    margin-top: 0.5rem !important;
    margin-bottom: 3rem !important;
    background-color: #eea81e !important;
    border-radius: 15px !important;
    color: #ffffff !important;
    padding: 10px 20px !important;
  }
}
